/* | IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

/* | CSS RESET  */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* | VARIABLES */
:root[data-theme='light'] {
    /* | COLORS  */
    --Very-Light-Gray: hsl(0, 0%, 98%);
    --Very-Light-Grayish-Blue: hsl(236, 33%, 92%);
    --Light-Grayish-Blue: hsl(233, 11%, 84%);
    --Dark-Grayish-Blue: hsl(236, 9%, 61%);
    --Very-Dark-Grayish-Blue: hsl(235, 19%, 35%);

    /* | STYLE */
    --margin: 0 auto;
}

:root[data-theme='dark'] {
    /* | COLORS */
    --Very-Dark-Blue: hsl(235, 21%, 11%);
    --Very-Dark-Desaturated: hsl(235, 24%, 19%);
    --Light-Grayish-Blue: hsl(234, 39%, 85%);
    --Light-Grayish-Blue: hsl(236, 33%, 92%);
    --Dark-Grayish-Blue: hsl(234, 11%, 52%);
    --Very-Dark-Grayish-Blue: hsl(233, 14%, 35%);
    --Very-Dark-Grayish-Blue: hsl(237, 14%, 26%);

    /* || STYLE */
    --margin: auto;
}

:root {
    /* | Primary  */
    --Bright-Blue: hsl(220, 98%, 61%)
        /* --Check-Background: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%) */
}

/* | GENERAL STYLES */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url('images/bg-desktop-light.jpg');
    background-size: 100% 35%;
    background-repeat: no-repeat;
    background-color: var(--Light-Grayish-Blue);
    color: var(--Very-Dark-Blue);
    font-family: 'Josefin Sans';
}

/* | MAIN */
main {
    width: 600px;
    height: 83vh;
}

/* | HEADER */
header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.header-title {
    color: #FFF;
    letter-spacing: 15px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2.5rem;
}

.theme-toggle-icon {
    width: 23px;
    height: 23px;
    object-fit: cover;
    cursor: pointer;
}